

<h2>Book detail</h2>
 <table class>
  <tbody>
   <tr>
    <td><%= image_tag @book.user.get_profile_image(100,100) %><%= @book.user.name %></td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
  </tr>
  </tbody>
 </table>